root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_size = 2
indent_style = space
trim_trailing_whitespace = true

[{Makefile,makefile}]
indent_style = tab

# cheat sheet: http://EditorConfig.org
